/* we want everything to be 20px so my eyes dont hurt */
* {
  font-size: 20px !important;
}

/* larger font size resulted in artifacts when hovering mail list  */
treechildren::-moz-tree-row {
  height: 28px !important;
}

/* search results background was white in a dark theme */
#main-column {
  background: var(--deepdark-dark-ash-color) !important;
  color: var(--deepdark-content-color) !important;
}

/*  words in search that are too long weren't wrapped */
.message .message-body {
  overflow-wrap: break-word;
}

/* enigmail details button is hard to read */
#enigmailStatusHdrDetails, #enigmailFixBrokenMessageButton {
  color: #2e2e2e !important;
  border-color: #2e2e2e;
}

#enigmailStatusHdrDetails:hover, #enigmailFixBrokenMessageButton:hover {
  background-color: #ede1b1 !important;
}

#enigToggleHeaderView2 {
  padding-top: 12px;
}

#header-view-toolbar .toolbarbutton-1.msgHeaderView-button {
  min-height: 0 !important;
}